<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="connection.url">jdbc:sqlserver://localhost:1433</property>
    <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
    <mapping class="com.company.entities.Categories"/>
    <mapping class="com.company.entities.Customers"/>
    <mapping class="com.company.entities.Empl"/>
    <mapping class="com.company.entities.OrderDetails"/>
    <mapping class="com.company.entities.Orders"/>
    <mapping class="com.company.entities.Products"/>
    <mapping class="com.company.entities.Shippers"/>
    <mapping class="com.company.entities.Suppliers"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>